n8n-workflows/call-analysis-workflow.json
{
  "name": "Vasquez Law - Call Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call_analyzed",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook - Call Analyzed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "vasquez-call-analyzed"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "callId",
              "value": "={{ $json.data.callId }}"
            },
            {
              "name": "summary",
              "value": "={{ $json.data.summary }}"
            },
            {
              "name": "sentiment",
              "value": "={{ $json.data.sentiment }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Extract Call Data'].json.sentiment }}",
              "operation": "equals",
              "value2": "negative"
            }
          ]
        }
      },
      "name": "Check Sentiment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "title": "Urgent: Follow up on negative sentiment call",
        "description": "Call ID: {{ $node['Extract Call Data'].json.callId }}\\n\\nSummary: {{ $node['Extract Call Data'].json.summary }}\\n\\nSentiment: Negative\\n\\nPlease review and follow up immediately.",
        "assignee": "{{ $env.SENIOR_ATTORNEY_EMAIL }}",
        "priority": "urgent"
      },
      "name": "Create Urgent Task",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "fromEmail": "alerts@vasquezlawnc.com",
        "toEmail": "{{ $env.ATTORNEY_NOTIFICATION_EMAIL }}",
        "subject": "New Call Analysis - {{ $node['Extract Call Data'].json.sentiment }} sentiment",
        "text": "A new call has been analyzed:\\n\\nCall ID: {{ $node['Extract Call Data'].json.callId }}\\nSentiment: {{ $node['Extract Call Data'].json.sentiment }}\\n\\nSummary:\\n{{ $node['Extract Call Data'].json.summary }}\\n\\nAction Items:\\n{{ $json.data.actionItems.join('\\n') }}",
        "options": {}
      },
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.CRM_API_URL }}/api/calls/{{ $node['Extract Call Data'].json.callId }}/analysis",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary",
              "value": "={{ $node['Extract Call Data'].json.summary }}"
            },
            {
              "name": "sentiment",
              "value": "={{ $node['Extract Call Data'].json.sentiment }}"
            },
            {
              "name": "actionItems",
              "value": "={{ $json.data.actionItems }}"
            },
            {
              "name": "analyzedAt",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Update CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.actionItems }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Action Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "data.actionItems",
        "destinationKey": "actionItems",
        "options": {}
      },
      "name": "Prepare Action Items",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [850, 600]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "project": "Legal Follow-ups",
        "title": "{{ $item.json }}",
        "description": "From call: {{ $node['Extract Call Data'].json.callId }}",
        "priority": "medium"
      },
      "name": "Create Tasks",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 1,
      "position": [1050, 600]
    }
  ],
  "connections": {
    "Webhook - Call Analyzed": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Check Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Action Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sentiment": {
      "main": [
        [
          {
            "node": "Create Urgent Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Update CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Action Items?": {
      "main": [
        [
          {
            "node": "Prepare Action Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Action Items": {
      "main": [
        [
          {
            "node": "Create Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 1
}
